<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <header> 
        <h2>Search</h2> 
    </header>
    <main>
        <form action="/movie">
            <input type="text" name="title">
            <button>search</button>
        </form>
        <%=@result%>
    </main>
</body>
</html>