<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
<header>
  <h1> MOVIES  </h1>
</header>
  <nav>
    <div><a href="/">Home</a></div>
  </nav>
  <%= yield  %>
  <footer></footer>
</body>
</html>