<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h4>Results:</h4>
    <div class="results">
        <% @search_results["Search"].each do |movie| %>
            <div>
                <form>
                    <a href="/movie" onclick="submit()"><img src="<%=movie["Poster"]%>" alt=""></a>
                    <input type="hidden" name="title" value="Jaws">
                </form>
                
            </div>
        <% end %>
    </div>
</body>
</html>