<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="results">
        <% if @search_successful %>
            <h4>Results for "<%=@title_query%>"</h4>
            <% @search_results["Search"].each do |movie| %>
                <%if movie["Type"] == "movie"%>
                    <div>
                        <a href="/movie?title=<%=movie["Title"]%>"><img src="<%=movie["Poster"]%>" alt=""></a>
                    </div>
                <%end%>
            <% end %>
        <% else %>
            <div>
                <h4>No results for "<%=@title_query%>"</h4>
            </div>
        <% end %>
    </div>
</body>
</html>