*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    display: block;
}

header{
    background-color: #ffbf00;
}

header h1{
    text-align: center;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d3d3d338;
}

h2 .year{
    font-size: 0.7em;
}

h4 span{
    font-weight: normal
}

a{
    text-decoration: none;
    color: black;
}

p{
    text-align: justify;
}

a:visited{
    color: black;
}

.search{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

form{
    display: flex;
    flex-direction: column; 
}

form button{
    background-color: lightgray;
    border: none;
    padding-top: 2px;
    padding-bottom: 4px;
}

form input{
    background-color: #00000000;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-top: 2px;
    padding-bottom: 4px;
    font-size: 1em;
}

img{
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}


.title h2{
    padding-top: 0;
}

.subtitle{
    font-size: 0.9em;
}

.details{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.results div{
    width: 45%;
}

.results h4{
    width: 100%;
}


@media (min-width: 600px){
    .details{
        display: flex;
        flex-direction: row;
    }
    
    .poster{
        width: 30%;
        padding-right: 10px;
    }
    
    .plot{
        width: 70%;
    }

    .search{
        padding-left: 40px;
        padding-right: 40px;
    }

    .container{
        padding-left: 40px;
        padding-right: 40px;
    }

    .results{
        justify-content: flex-start;
        padding-left: 40px;
        padding-right: 40px;
    }

    .results div{
        width: 20%;
        padding: 5px;
    }
}

